.coumties-back{
  position: fixed;
  top: 15px;
  background: transparent;
  left: 40px;
}
.countries-list-main-ul-li.country-list-ul{
  margin: auto;
  margin-top: 70px;
  width: calc(100% - 40px);
}
.coumties-back ~ .countries-list-main-ul .countries-list-main-ul-li {
  min-height: calc(100vh - 200px);
  box-sizing: border-box;
  justify-content: space-around;
}
.coumties-back ~ .countries-list-main-ul .countries-list-main-ul-li:hover{
  transform: scale(1);
}
.coumties-back ~ .countries-list-main-ul .countries-list-main-ul-li .countries-list-main-ul-li-img{
  width: 400px;
  height: auto;
}