.home-page{
  width: 100%;
  min-height: calc(100vh - 65px);
  background-image: url('../../assets/planet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .home-page-link{
  padding: 0 25px;
}
.home-page-link-title{
  color: #ffffff;
}