.countries-list-main{
  height: calc( 100vh - 60px);
  overflow: overlay;
  margin: 60px 0 0 0;
  padding: 0 40px;
}

.countries-list-main-btn{
  position: fixed;
  top: 15px;
  background: transparent;
  cursor: pointer;
}
.countries-list-main-ul{
  height: 100%;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.countries-list-main-ul-li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #fff;
  margin-bottom: 40px;
  width: 30%;
  border-radius: 5px;
}

.countries-list-main-ul-li-img {
  display: block;
  width: 100px;
  height: 70px;
}
.countries-list-main-ul-li-img img{
  width: 100%;
  height: 100%;
}

.linkToCountry{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  align-items: center;
}