.countries-list-main{
  height: calc( 100vh - 160px);
  overflow: overlay;
  margin: 60px 0 0 0;
  padding: 0 40px 30px 40px;
}

.countries-list-main-btn{
  position: fixed;
  top: 15px;
  background: transparent;
  cursor: pointer;
}
.countries-list-main-ul{
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.countries-list-main-ul-li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #fff;
  margin-bottom: 40px;
  width: 30%;
  border-radius: 5px;
  height: fit-content;
  transition: .5s;
}
.linkToCountry{
  text-decoration: none;
  color: #000000;
}
.countries-list-main-ul-li:hover{
  transform: scale(1.02);
}

.countries-list-main-ul-li-img {
  display: block;
  width: 100px;
  height: 70px;
}
.countries-list-main-ul-li-img img{
  width: 100%;
  height: 100%;
}

.linkToCountry{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  align-items: center;
}

.addNextPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.addNextPage .btn{
  padding: 10px 7px;
  background-color: #000  ;
}


@media screen and (max-width: 1100px){
  .countries-list-main-ul-li{
    width: 45%;
  }
}

@media screen and (max-width: 800px){
  .countries-list-main-ul-li{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .countries-list-main{
    padding: 0 20px;
  }
  .linkToCountry{
    padding: 0;
  }
  .home-page-link-title{
    font-size: 19px;
  }
  .App footer {
    margin-top: 0;
  }
  .App .home-page {
    min-height: calc(100vh - 65px);
  }
  .App .addNextPage .btn{
    margin-bottom: 30px;
  }
  .countries-list-main-btn{
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .countries-list-main-block-block{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .countries-list-main-block-block > *{
    margin-bottom: 5px;
  }
  .App .app-btn-main {
    width: 100%;
    top: 15px;
    right: 0;
    display: flex;
    justify-content: center;
  }
  .app-btn-main .btn{
    margin: 0 10px
  }
  
}